body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  position: fixed;
  top: 0;
}

#minha_foto {
  width: 200px;
  border-radius: 50%;
}

#licoes_aprendidas {
  background-color: rgb(225, 216, 212);
  margin: 0;
  border: 0;
  padding: 10px 20px 10px 40px;
  line-height: 30px;
  text-align: justify;
}

.lessons-card {
  margin: auto;
  padding: 3%;
  width: 50%;
}

.lessons-title {
  border-style: dotted;
  color: rgb(59, 102, 100);
  margin: 0;
  padding: 3%;
  text-align: center;

  /* background-color: rgb(191, 185, 173); */
}
