body {
  background-color: rgb(253, 251, 251);
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  color: rgb(59, 102, 100);
}

#my_photo {
  margin-top: 150px;
  border: 0;
  padding: 0;
  text-align: center;
}

#minha_foto {
  width: 200px;
  border-radius: 50%;
}

#licoes_aprendidas , #licoes_a_aprender {
  background-color: rgb(225, 216, 212);
  margin: 0;
  border: 0;
  padding: 10px 20px 10px 40px;
  line-height: 30px;
  text-align: justify;
}

.lessons-card , .lado-esquerdo {
  margin: 0 6%;
  padding: 3%;
  width: 30%;
  display: inline-block;
  vertical-align: top;
}

.lessons-title , .learning-title {
  border-style: dotted;
  color: rgb(59, 102, 100);
  margin: 0;
  padding: 3%;
  text-align: center;

  /* background-color: rgb(191, 185, 173); */
}

#rodape {
  background-color: rgb(191, 185, 173);
  margin: 0;
  border: 0;
  padding: 0 15px;
  line-height: 30px;
}

#nav-links li {
  list-style: none;
  display: inline-block;
}

#nav-links li a {
  background-color: rgb(191, 185, 173);
  text-decoration: none;
  padding: 10px;
  border-radius: 30%;
  font-weight: 900;
  font-size: medium;
  color: black;
}

.lado-esquerdo {
  margin-left: 10%;
  line-height: 30px;
  text-align: justify;
}
